php_value display_errors 1
Options -MultiViews
RewriteEngine On
RewriteBase /kasir-klontong/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]